#global git config

[core]
	editor = nvim
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	tool = nvimdiff

[url "git@github-nitin:"]
    insteadOf = git@github.com:nitin-dixit/
    insteadOf = https://github.com/nitin-dixit/

[url "git@github-nitinx:"]
    insteadOf = git@github.com:nitinXdixit/
    insteadOf = https://github.com/nitinXdixit/
